Labs_eda/Lab_2/amazon_database.csv
/labs_ML/lab_solar/solar_test.csv
/labs_ML/lab_1/website.csv
/labs_ML/lab_solar/submission.csv
/labs_ML/lab_solar/solar_train2.csv
/labs_ML/lab_solar/solar_train.csv.zip
/labs_ML/lab_3/vehicles.csv